<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="LogPath" value="E:\TnN_Log\"/>
    <add key="Category"  value="SPA" />
    <add key="FileUploadEncryptedPath" value="E:\Abeo-Projects\TnN\Documents\"/>
    <add key="FileUploadPath" value="E:\Abeo-Projects\TnN\IISDeploy\Publish_Webservice\FileUpload\"/>
    <add key="PropertyFilePath" value="E:\Abeo-Projects\TnN\IISDeploy\Publish_Webservice\PropertyFile\"/>
    <add key="ICFilePath" value="E:\Abeo-Projects\TnN\IISDeploy\Publish_Webservice\ICFile\"/>
    <add key="GDocFilePath" value="E:\Abeo-Projects\TnN\IISDeploy\Publish_Webservice\GDocFile\"/>
    <add key="SDocFilePath" value="E:\Abeo-Projects\TnN\IISDeploy\Publish_Webservice\SDocFile\"/>
    <add key="PropertyFile" value ="\PropertyFile\"/>
    <add key="ICFile" value ="\ICFile\"/>
    <add key="GDocFile" value ="\GDocFile\"/>
    <add key="SDocFile" value ="\SDocFile\"/>
    <add key="ItemCode" value ="ZZZZZZZZZZZZZZZZZZZZ"/>
    <add key="Select" value ="-- Select --"/>
  </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="Server=WIN-D6KRARO05H9\SQLSERVER2012;Database=TnN006;uid=sa;pwd=Sa12345;" providerName="System.Data.SqlClient" />
    <add name="ConnString" connectionString="WIN-D6KRARO05H9\SQLSERVER2012;TnN006;sa;Sa12345;WIN-D6KRARO05H9:30000;manager;B1Admin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" closeTimeout="00:03:00" openTimeout="00:03:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
        <binding name="Service1Soap1" closeTimeout="00:03:00" openTimeout="00:03:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.147.139.185/WS/Service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="Service1Soap" contract="ReadDocument.Service1Soap"
        name="Service1Soap" />
      <endpoint address="http://10.147.139.185/WS_GenDoc/Service1.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap1"
        contract="GenerateDocument.Service1Soap" name="Service1Soap1" />
    </client>
  </system.serviceModel>
</configuration>
